*{
    margin: 0;
    padding: 0;
}

header{
    background-color: purple;
    height: 70px;
    display: flex;
    border: 1px;
    justify-content: space-between;
}

.icone-texto{
   display: flex;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(1, 1fr);
   border: 2px solid white;
}

img{
    width: 50%;
    grid-row: 1/2;
    grid-column: 3/4;
}

footer{
    height: 70px;
    background-color: purple;
}