*{
  padding: 0;
  margin: 0;
}

.megasena--Geral{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  height: 750px; 
}

.megasena--bloco1{
  background: #6BEFA3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px;
  border-radius: 10px 5px 5em/ 30px 25px 50%;
}

.megasena--h1{
  justify-content: center;
  display: flex;
  align-items: center;
}

.megasena--botaoselecao{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
}

.megasena--bloco2{
  display: flex;
  align-items: center;
  padding: 20vh;
}

.numeros--1{
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6BEFA3;
  border-radius: 100%;
}

.numeros--2{
  margin: 15px;
  display: flex;
  border-radius: 100%;
  background-color: #6BEFA3;
  align-items: center;
  justify-content: center;
}

.numeros--3{
  margin: 15px;
  display: flex;
  border-radius: 100%;
  background-color: #6BEFA3;
  align-items: center;
  justify-content: center;
}

.numeros--4{
  margin: 15px;
  display: flex;
  border-radius: 100%;
  background-color: #6BEFA3;
  align-items: center;
  justify-content: center;
}

.numeros--5{
  margin: 15px;
  display: flex;
  border-radius: 100%;
  background-color: #6BEFA3;
  align-items: center;
  justify-content: center;
}

.numeros--6{
  margin: 15px;
  display: flex;
  border-radius: 100%;
  background-color: #6BEFA3;
  align-items: center;
  justify-content: center;
}

.numeros--7{
  margin: 15px;
  display: flex;
  border-radius: 500%;
  background-color: #6BEFA3;
  align-items: center;
  justify-content: center;
}


.megasena--Text{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 50px;
  align-self: flex-end;
}

.megasena--text{
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
